WebApp/Service References/DbServiceRef/DbService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfZadanko.dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfZadanko.dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfwniosekWithDecyzja">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="wniosekWithDecyzja" nillable="true" type="tns:wniosekWithDecyzja" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfwniosekWithDecyzja" nillable="true" type="tns:ArrayOfwniosekWithDecyzja" />
  <xs:complexType name="wniosekWithDecyzja">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data_rejestracji_wniosku" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_wniosek" type="xs:int" />
      <xs:element minOccurs="0" name="Klient_skrot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kwota_kredytu_brutto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Numer_wniosku" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wnioskowana_kwota_kredytu" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="wniosekWithDecyzja" nillable="true" type="tns:wniosekWithDecyzja" />
</xs:schema>